/*
    Estilos de gestion.html concretos sin TailwindCSS

*/

/* Iconos */
.icono {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.icono:hover {
    transform: scale(1.1);
}
.icono:active {
    transform: scale(1);
}

/* Dejar espacio en Detalles Cassettes para los datos a añadir*/
.detalle-texto {
    min-height: 25px;
    display: block;
}

/* Miniatura de las imagenes */
.imagenesMiniatura{
    width: 180px;
    max-height: 120px;
    display: flex;
    overflow: hidden;
    border: 1px solid rgb(104, 104, 104);
}

.imagenSeleccionada {
    border: 2px solid blue;
}

@media (max-width: 530px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
